body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
h1 {
	padding-left: 25px;
	padding-bottom: 10px;
}
#banner {
	width: 100%;
	height: 19.7%;
	background-image: url("tweed.png");
	position: relative;
	vertical-align: top;
	border-bottom: 2px solid #916852;
}
#content {
	width: 79.8%;
	height: 80%;
	background-image: url("banner.png");
	float: left;
	position: relative;
}
#home {
	color: mediumseagreen;
}
#bar {
	width: 20%;
	height: 80%;
	right: 0;
	background-image: url("button.png");
	float: right;
	position: relative;
	border-left: 0.18em solid #916852;
}
#banner ul { 
	margin: 0;
	padding: 0;
    font-size: 1.2em;
	text-align: center;
	position: absolute;
	bottom: 15px;
}
#banner li {
	display: inline;
    list-style: none;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.5em;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: mediumseagreen;
}

.hidden {
    opacity: 0;
}
.page { 
    position: absolute;
    top: 70px;
    left: 40px;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
}
.page.clicked {
    opacity: 1;
}