
body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

#banner {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: relative;
	-webkit-transition: background 1s ease-in;
    -moz-transition: background 1s ease-in;
    transition: background 1s ease-in;
}
#top {
	position: fixed;
	z-index: 11;
	height: 6%;
	width: 100%;
	background-color: #1C1317;
	opacity: 0.8;
	transition: opacity 0.25s ease-in;
	box-shadow: 0px -2px 5px 5px black;
}
#topp {
	color: white;
	font-size: 110%;
	font-weight: bold;
	padding-left: 1%;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}
#links {
	position: absolute;
	top: 50%;
	right: 1%;
	transform: translateY(-50%); 
	font-size: 85%;
	color: white;
}
#info {
	color: white;
	position: absolute;
	width: 100%;
	top: 45%;
	text-align: center;
	transition: color 1s ease-in;
	font-size: 180%;
	-webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#footer {
	position: absolute;
	bottom: 0;
	margin: 0 20%;
	height: 5%;
	width: 60%;
	text-align: center;
	color: white;
	font-size: 110%;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#aboutP, #projectsP {
	position: absolute;
	padding: 10%;
	font-size: 110%;
}
#projectsP {
	background-image: url("images/main.png");
}
#about {
	height: 90%; 
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 0px 5px 20px 10px black;
}
#projects {
	position: relative;
	width: 100%;
}
#back {
	position: absolute;
	opacity: 0;
	z-index: 1;
	right: 30px;
	bottom: 30px;
	width: 80px;
	height: 80px;
	transition: opacity 0.15s ease-in;
}
/*Image preloader*/
body:after {
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("images/background.jpg") url("images/main.png") url("images/background2.jpg") url("images/background3.jpg") url("images/background4.jpg") url("images/background5.jpg") url("images/background6.jpg") url("images/background1/jpg");
}
.link, #top a{
	text-decoration: none;
	color: white;
}
.link:hover {
	color: tomato;
}
#aboutP a, #projectsP a, #back a {
	text-decoration: none;
	color: tomato;
	font-weight: bold;
}
#aboutP a:hover, #projectsP a:hover, #back a:hover {
	color: mediumvioletred;
}
#top a:hover {
	color: tomato;
}
p {
	padding-right: 20%;
}
.clicked {
	opacity: 1;
}
.hidden {
	opacity: 0;
}
