body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

#banner {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: relative;
	-webkit-transition: background 1s ease-in;
    -moz-transition: background 1s ease-in;
    transition: background 1s ease-in;
}
#top {
	position: fixed;
	z-index: 11;
	height: 8%;
	width: 100%;
	background-color: #1C1317;
	opacity: 1;
	transition: opacity 0.25s ease-in;
	box-shadow: 0px -2px 5px 5px black;
}
#info {
	color: white;
	position: absolute;
	width: 100%;
	top: 45%;
	text-align: center;
	transition: color 1s ease-in;
	font-size: 160%;
	-webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#footer {
	position: absolute;
	bottom: 0;
	margin: 0 20%;
	height: 5%;
	width: 60%;
	text-align: center;
	color: white;
	font-size: 100%;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

#about {
	width: 100%;
	height: 90%; 
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 0px 5px 20px 10px black;
}
#aboutP, #projectsP {
	position: absolute;
	left: 15%;
	top: 15%;
}
#projects {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url("images/main.png");
}
#back {
	position: absolute;
	opacity: 0;
	z-index: 1;
	right: 30px;
	bottom: 30px;
	width: 80px;
	height: 80px;
	transition: opacity 0.15s ease-in;
}

#top p {
	padding-left: 20px;
	padding-top: 0.1%;
	color: white;
	font-size: 100%;
}
span {
	position: absolute;
	right: 20px;
	font-size: 80%;
	top: 41%;
}
/*Image preloader*/
body:after {
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("images/background.jpeg") url("images/main.png") url("images/background1.jpg") url("images/background2.jpg") url("images/background3.jpg") url("images/background4.jpeg") url("images/background5.jpeg") url("images/background6.jpg") url("images/background7.jpg");
}
.link, #top a{
	text-decoration: none;
	color: white;
}
.link:hover {
	color: tomato;
}
#aboutP a, #projectsP a, #back a {
	text-decoration: none;
	color: tomato;
}
#aboutP a:hover, #projectsP a:hover, #back a:hover {
	text-decoration: underline;
}
#top a:hover {
	color: tomato;
}
p {
	margin-right: 40%;
}
h2 {
	font-weight: normal;	
}
.clicked {
	opacity: 1;
}
.hidden {
	opacity: 0;
}