html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

#banner {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: relative;
	-webkit-transition: background 0.7s ease-in;
    -moz-transition: background 0.7s ease-in;
    transition: background 0.7s ease-in;
}
#top {
	position: fixed;
	z-index: 11;
	height: 7%;
	width: 100%;
	background-color: #1C1317;
	opacity: 0.8;
	transition: opacity 0.3s ease-in;
	box-shadow: 0px -2px 5px 5px black;
}
#topp {
	color: white;
	font-size: 100%;
	font-weight: bold;
	padding-left: 2%;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}
@media screen and (max-width: 600px) {
	#collapse {
		visibility: hidden;
		display: none;
	}
}
#links {
	position: absolute;
	top: 50%;
	right: 1%;
	transform: translateY(-50%); 
	font-size: 85%;
	color: white;
}
#main-text-container {
	color: white;
	position: absolute;
	width: 100%;
	top: 45%;
	text-align: center;
	font-size: 160%;
	font-weight: bold;
	-webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#footer {
	position: absolute;
	bottom: 0;
	margin: 0 20%;
	height: 5%;
	width: 60%;
	text-align: center;
	color: white;
	font-size: 110%;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
#aboutP {
	position: relative;
	padding: 4% 20% 7% 7%;
	padding-bottom: 4%;
	font-size: 105%;
}
#projectsP {
	position: relative;
	padding: 4% 20% 7% 7%;
	font-size: 105%;
	background-image: url("/assets/images/main.png");
}
#about {
	width: 100%;
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 0px 5px 20px 10px black;
}
#bear {
	position: relative;
	background-color: #FFFFFF;
	height: 70px;
	margin-bottom: 2%;
}
.bear {
	position: absolute;
	background: url(/assets/images/walkingbear.png);
	width: 116px; 
	height: 70px;
	left: -10%;
	bottom: 10%;
}
@keyframes walk {
	from { background-position: 0px; }
	to { background-position: -960px; }
}
@keyframes walkacross {
	from { transform: translate(0, 0); }
	to { transform: translate(100vw, 0px); }
}
.animated {
	animation: walk 1s steps(8) infinite, walkacross 18s linear infinite;
}
#projects {
	position: relative;
	width: 100%;
}
#back {
	position: absolute;
	opacity: 0;
	z-index: 1;
	right: 30px;
	bottom: 30px;
	width: 80px;
	height: 80px;
	transition: opacity 0.1s ease-in;
}
/*Image preloader*/
body:after {
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("/assets/images/main.png") url("/assets/images/bg1.jpg") url("/assets/images/bg2.jpg") url("/assets/images/bg3.jpg") url("/assets/images/bg4.jpg") url("/assets/images/bg5.jpg");
}
.link, #top a{
	text-decoration: none;
	color: white;
}
.link:hover {
	color: tomato;
}
#aboutP a, #projectsP a, #back a {
	text-decoration: none;
	color: tomato;
	font-weight: bold;
}
#aboutP a:hover, #projectsP a:hover, #back a:hover {
	color: mediumvioletred;
}
#top a:hover {
	color: tomato;
}
p {
	padding-right: 30%;
}
.clicked {
	opacity: 1;
}
.hidden {
	opacity: 0;
}
