html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
}

.tab:hover {
    background-color: navajowhite;
}

#profileImage {
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: 0 0 0 3px hsl(0, 0%, 100%), 0 0 0 6px hsl(0, 0%, 90%);
}

#profileText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

a {
    color: #cc4b93;
}

a:hover {
    color: #35375a;
}