html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
}

.tab:hover, a.navbar-item:hover {
    background-color: navajowhite;
}

.tab {
    border-radius: 5%;
}

#profileImage {
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: 0 0 0 3px hsl(0, 0%, 100%), 0 0 0 6px hsl(0, 0%, 90%);
}

a {
    color: #dc4e76;
}

a:hover {
    color: #35375a;
}