
Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]


RewriteCond %{HTTP_HOST}  \.
RewriteCond %{HTTP_HOST} !=svn.spotfields.com
RewriteCond %{HTTP_HOST} !=test.spotfields.com
RewriteCond %{HTTP_HOST} !^www   [OR]
RewriteCond  %{HTTP_HOST} !\.com$ [OR]
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}




#Maintenance Mode:
#RewriteCond %{REQUEST_URI} !^/errors\.html$
#RewriteRule ^(.*)$ http://spotfields.com/errors [R=307,L]


# Removes trailing slashes (prevents SEO duplicate content issues)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ $1 [L,R=301]


RewriteCond %{HTTP_HOST} ^spotfields.com$
RewriteRule (.*) http://www.spotfields.com$1 [R=301]



RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /index.php/$1 [L]
